.container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .table-container {
    margin-top: 20px;
  }

  .clickable {
    color: #6f65ac;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .clickable:hover {
    color: #635b9a;
  }
  
  .modalStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    border-radius: 8px;
    width: auto;
    height: auto;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
    overflow: auto;
  }
  